{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "require-jsdoc": "off",
    "max-len": [
      "error",
      150
    ],
    "comma-dangle": "off",
    "eol-last": "off",
    "no-console": "warn"
  }
}
