html{
    min-height:100%;
    position:relative;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 40px auto;
    width: 100vw;
    height: 100vh;
}

.command {
    height: 40px;
    width: 40px;       
    background-size: 30px 30px; 
}
.command:hover {
    background-color: #DDD;
}

.command.create-table {        
    background-image: url("../asset/create_table.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.command.create-view {
    background-image: url("../asset/create_view.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.command.create-relation {    
    background-image: url("../asset/create_relation.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.side-menu {
    grid-column: 1;
}

#designer-container {
    grid-column: 2;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#designer-container #minimap {
    position: absolute;
    left: 10px;
    bottom: 10px;    
    height: 75px;
    border-style: solid;
    border-width: 1px;
    background-color: #e3ebed;
}

#designer-container #minimap #viewpoint {
    fill: none;
    stroke-width: 10;
    stroke: black;
}

#designer-container #minimap .mini_table {
    fill: lightcyan;
    stroke-width: 10;
    stroke: black;
}

#designer-container #btn-zoom-in {
    position: absolute;
    left: 120px;
    bottom: 50px;
    width: 25px;
    height: 25px;
}

#designer-container #btn-zoom-out {
    position: absolute;
    left: 120px;
    bottom: 10px;
    width: 25px;
    height: 25px;
}

#designer {
    width: 100%;
    height: 100%;    
    user-select: none;
    cursor: default;
    background-color: #e3ebed;
    font: normal 10px Verdana, Arial, sans-serif;
}

.tableGroup {
    stroke: #707070;
}

.table {
    background-color: white;
    min-width: 100px;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15),
        0px 0px 10px rgba(0,0,0,0.15),
        0px 0px 10px rgba(0,0,0,0.15),
        0px 0px 10px rgba(0,0,0,0.15);
}

.table tr {
    border-bottom: 1px solid #BBB;
}
.table tr th {
    font-size: 1.2em;
    padding: 5px;
    background-color: lightcyan;
}

.table td {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

path {
    stroke-width: 1;
    stroke: #666;
    fill: none;
}

.pathHover {
    stroke-width: 2;
    stroke: black;
}

.fromRelation {
    background-color: lightgreen;
}

.toRelation {
    background-color: lightcoral;
}

.highlight {
    stroke-width: 12;
    stroke: transparent;
}