html {
  height: 100%;
}
body {
  padding: 20px;
  height: 100%;
  overflow: hidden;
}

#column-des-grid {
  height: calc(100% - 155px);  
  width: 100%;
  margin-bottom: 20px;  
}

label {
  margin-bottom: 20px;  
  display: block;
}

.column-label {
  margin-bottom: 5px;
}

.buttons {
  margin-bottom: 20px;
  float: right;
}

.type-input {
  width: 100%;
  margin: 0;
}

.column-checkbox {
  display: table;
  margin: 0 auto;
  margin-top: 5px;  
}