* {
  font-family: var(--font-family, Arial, sans-serif);
  color: var(--color, #333);
  --table-boarder-color: #a4a2a3;
}

:host {
  display: block;
  overflow: hidden;
}

#veiwer-container {
  height: 100%;
  position: relative;

  background-color: #ccc;
  overflow: auto;

  -moz-user-select: none !important;
  -o-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

  touch-action: none;
}

#veiwer-container #minimap {
  border-style: solid;
  border-width: 1px;
  border-color: #666;
  background-color: var(--viewer-background-color, #e3ebed);
  margin-bottom: 5px;
  display: block;
}

#veiwer-container #minimap #viewpoint {
  fill: none;
  stroke-width: 10;
  stroke: black;
}

#veiwer-container #minimap-container {
  left: 10px;
  bottom: 18px;
  width: 100px;
  position: absolute;
}

#veiwer-container #minimap-container #minimap .mini_table {
  fill: var(--table-boarder-color);
  stroke-width: 10;
  stroke: black;
  float: left;
}

#veiwer-container #minimap-container #btn-container {
  display: flex;
}

#veiwer-container #minimap-container #btn-container button {
  height: 30px;
  margin-bottom: 5px;
  padding: 1px;
  font-size: 1.2em;
  float: left;
  width: 50%;
}

#veiwer-container #minimap-container #btn-container #btn-zoom-in {
  margin-right: 4px;
}

#veiwer-container .svg-container {
  overflow: auto;
  width: 100%;
  height: 100%;
}

#veiwer {
  user-select: none;
  cursor: default;
  display: block;
  background-color: var(--viewer-background-color, #e3ebed);
}

#veiwer.pan {
  cursor: grabbing;
}

.tableGroup {
  stroke: #707070;
}

.table {
  background-color: white;
  min-width: 100px;
  border-collapse: collapse;

  border-bottom: 2px solid var(--table-boarder-color);
  border-left: 2px solid var(--table-boarder-color);
  border-right: 2px solid var(--table-boarder-color);
}

.table.move {
  cursor: move;
}

.table tr {
  border-bottom: 1px solid #bbb;
}

.table tr th {
  font-size: 1.2em;
  padding: 5px;
  background-color: var(--table-boarder-color);
  color: white;
}

.table td {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.table td.status {
  width: 20px;
  height: 20px;
  padding: 0;
}

.table td.status div {
  width: 14px;
  height: 14px;
  margin-left: 7px;
  background-size: contain;
}

.table td.status .pk {
  background-image: url(./asset/pk.svg);
}

.table td.status .fk {
  background-image: url(./asset/fk.svg);
}

path {
  stroke-width: 1;
  stroke: var(--relation-color, #666);
  fill: none;
}

.pathHover {
  stroke-width: 2;
  stroke: var(--relation-color-highlight, black);
}

.fromRelation {
  background-color: lightgreen;
}

.toRelation {
  background-color: lightcoral;
}

.highlight {
  stroke-width: 12;
  stroke: transparent;
}

@media print {
  .table {
    border-top: 2px solid var(--table-boarder-color);
  }
  :host {
    border: 1px solid #333;
  }
}
